<%= form_for @user do |f|%>
  <div class="row mb-4">
    <%= f.label :name, "Name", class: 'form-label'%>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  <div class="row mb-4">
    <%= f.label :password, "Password", class: 'form-label'%>
    <%= f.password_field :password, class: 'form-control'%>
  </div>
  <div class="row mb-4">
    <%= f.label :email, "Email",class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control'%><br>
  </div>
  <div class="row mb-4">
    <%= f.label :phone_number, "Phone Number",class: 'form-label' %>
    <%= f.text_field :phone_number, class: 'form-control'%><br>
  </div>
  <div class="row mb-4">
    <%= f.label :image, "Image", class: 'form-label' %>
    <%= f.file_field :image%>
  </div>
  <%= f.fields_for :address, {address: @user.address} do |a| %>
    <div class="row mb-4">
      <div class="col">
        <%= a.label 'Street'%>
        <%= a.text_field :street, value: @user.address["street"], class: 'form-control' %>
      </div>
      <div class="col">
        <%= a.label 'City'%>
        <%= a.text_field :city, value: @user.address["city"], class: 'form-control'%>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <%= a.label 'State'%>
        <%= a.text_field :state, value: @user.address["state"] , class: 'form-control'%>
      </div>
      <div class="col">
        <%= a.label 'Zip cide'%>
        <%= a.text_field :zip_code, value: @user.address["zip_code"], class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <%= f.submit %>
<%end%>
